<div class="container">
  <!-- href="https://twitter.com/share?url=[URL]&text=[text]" -->

  <!-- href="https://www.facebook.com/share.php?u=[URL]" -->

  <!-- href="https://social-plugins.line.me/lineit/share?url=[URL]" -->
</div>

<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="/">
    Doodles
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navmenu1" aria-controls="navmenu1" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navmenu1">
    <div class="navbar-nav">
    </div>
  </div>

  <ul class="navbar-nav float-right" style="float:right!important;" id="navbar">
  </ul>
</nav>
